@import "tailwindcss";

@theme {
  --color-warm-white: #fdfbf7;
  --color-sandy: #f4c27a;
  --color-orange: #eb8f34;
  --color-coral: #df583f;
  --color-dark-red: #7c1d1d;

  --color-spidey-blue: #0f4c81;
  --color-spidey-red: #d92d2d;

  --color-background: var(--color-warm-white);
  --color-foreground: #1a1a1a;

  --font-sans: var(--font-inter);
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
  }
}

/* Custom scrollbar to be hidden or sleek */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
